<ul>
  <li><a class="active" href="#" mat-button (click)="openDialog()"> Add Task</a></li>
</ul>

<br><br>
<mat-grid-list cols="4" rowHeight="4:4">
  <mat-grid-tile>
    <div class="example-container">
      <h2>Backlogs</h2>
    
      <div cdkDropList #backlogList="cdkDropList" [cdkDropListData]="backlogs"
       [cdkDropListConnectedTo]="[reviewList,developmentList,backlogList,doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of backlogs" cdkDrag>{{item}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="example-container">
      <h2>Development</h2>
    
      <div
        cdkDropList
        #developmentList="cdkDropList"
        [cdkDropListData]="developement"
        [cdkDropListConnectedTo]="[reviewList,developmentList,backlogList,doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of developement" cdkDrag>{{item}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="example-container">
      <h2>Code Review</h2>
    
      <div
        cdkDropList
        #reviewList="cdkDropList"
        [cdkDropListData]="codereview"
        [cdkDropListConnectedTo]="[reviewList,developmentList,backlogList,doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of codereview" cdkDrag>{{item}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="example-container">
      <h2>Acceptance</h2>
    
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="acceptance"
        [cdkDropListConnectedTo]="[reviewList,developmentList,backlogList,doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of acceptance" cdkDrag>{{item}}</div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
